
<header>
  <mat-toolbar color="primary">
    <span class="mat-h1">Backend Task Manager</span>
    <nav mat-tab-nav-bar>
      <a mat-chip-option routerLink="/tasks" routerLinkActive="active" #rlat="routerLinkActive" [selected]="rlat.isActive">Tasks</a>
      <a mat-chip-option routerLink="/archive" routerLinkActive="active" #rlat="routerLinkActive" [selected]="!rlat.isActive">Archive</a>
    </nav>
  </mat-toolbar>
</header>

<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>

<footer>
  <mat-toolbar color="primary" class="mat-toolbar mat-primary">
    <span class="mat-h2">Jakub Tokarczyk</span>
  </mat-toolbar>
</footer>
